@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #0B0B0B;
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
  .rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
} 

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
/* .audio-player {
  max-width: 400px;
  margin: 0 auto;
 
}
/* You can style the audio controls however you like */
/* audio {
  width: 100%;
  margin-top: 10px;
}
/*  */
/* Example: Styling play, pause, and volume controls */
/* audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-volume-slider {
  background-color: #333;
  border-radius: 4px;
}  */